
OAPI_ID=22778893
API_HASH=04284c11d0fffa4668cf020a8bce447b
BOT_TOKEN=8352848640:AAEClI-V7O-fZExJFo2qKA-odYVN2l2xMhw
SESSION=BAFblA0AHBFxcWkbc3cuysxSWFOTLDZiraGK-ZcQ-R7La4Tgqr0kfjHm0hC34Pez-Gxg_9RBxnuKuu3Z-aQKWdZkB3R3X_XCSRMNVxxS5lBL8tloBMZ4IPtECys-eBKDCItaXDQNR77ccX1n8QiSi90faFqaesxSzUulwp00SOz6kSahZX81lTo5EIygsaVkLZS_6Ov_7s9Hmx5ZDpVrBgs6NilqDqiOvQlKQva9ln0bGmXPWLPMK0fcIffdOY90V7i3-HXNzov5QDWbUB1VEuwoJOgTELcsZHlCoZ35eczI0QIZE3lwUE_QSpX588aNyvTSvnfjk-57hqYFmbZ63EcRWD9bcQAAAAFTJB7bAA
MONGO_URI=mongodb+srv://annieaziz_user:Azizboudub25Ab@cluster0.1lkl33b.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=5689843419
